<!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8">
            <title>{{ 'blog.title' | trans }}</title>
            <link rel="stylesheet" href="{{ asset('css/marie-spirit.css') }}">
        </head>

        {% block body %}

        {% endblock %}

    </html>
